export("add.hyperedges")
export("as.bipartite")
export("as.binary.hypergraph")
export("ase")
export("as.graph")
export("as.hypergraph")
export("clique_hypergraph")
export("cluster_spectral")
export("delete.hyperedges")
export("dual_hypergraph")
export("edge_orders")
export("epsilon_hypergraph")
export("equivalent.hypergraphs")
export("graph2hypergraph")
export("H2")
export("has.empty.hyperedges")
export("has.helly","is.helly")
export("has.isolates")
export("has.loops")
export("hdegree")
export("hnames")
export("horder")
export("hrank","hcorank")
export("hsize")
export("hyper_edges")
export("hypergraph2graph")
export("hypergraph.add.edges")
export("hypergraph.add.vertices")
export("hypergraph_as_adjacency_matrix","hadjacency")
export("hypergraph_as_edgelist")
export("hypergraph_as_incidence_matrix")
export("hypergraph.complement")
export("hypergraph.delete.edges")
export("hypergraph.delete.vertices")
export("hypergraph.disjoint.union")
export("hypergraph.entropy")
export("hypergraph_from_edgelist")
export("hypergraph_from_fuzzy_clustering")
export("hypergraph_from_incidence_matrix")
export("hypergraph_from_literal")
export("hypergraph_from_membership")
export("hypergraph_from_spectral_clustering")
export("hypergraph.intersection")
export("hypergraph.is.connected")
export("hypergraph_laplacian_matrix")
export("hypergraph.spectrum")
export("hypergraph.union")
export("incidence_matrix")
export("induced_hypergraph")
export("intersection_set")
export("is.bi.conformal")
export("is.conformal")
export("is.empty.hypergraph")
export("is.hypergraph")
export("is.hypertree")
export("is.simple","is.linear")
export("is.star")
export("is.tree","is.forest","subtree.hypergraph")
export("kCores")
export("knn_hypergraph")
export("line.graph")
export("lse")
export("make_empty_hypergraph")
export("pendant")
export("plot_geom_hypergraph")
export("plot.hypergraph")
export("plotDegreeDistribution")
export("print.hypergraph")
export("reduce.hypergraph")
export("remove.isolates","remove.loops","remove.empty.hyperedges")
export("remove.redundant.vertices")
export("reorder_vertices")
export("sample_geom_hypergraph")
export("sample_gnp_hypergraph")
export("sample_k_regular_hypergraph")
export("sample_k_uniform_hypergraph")
export("sample_sbm_hypergraph")
export("simplify.hypergraph")
export("summary.hypergraph")
importFrom(graphics,points,lines,abline,hist)
importFrom(grDevices,rainbow)
importFrom(gtools,binsearch)
importFrom(gtools,combinations)
importFrom(Matrix,Matrix,rowSums,colSums,sparseMatrix,Diagonal,t)
importFrom(proxy,dist)
importFrom(RSpectra,eigs)
importFrom(RSpectra,svds)
importFrom(stats,rpois,rbinom,runif,ave,lm)
import(igraph)
import(mclust)
S3method(plot,hypergraph)
S3method(print,hypergraph)
S3method(summary,hypergraph)
